modules = ["python-3.11", "postgresql-16"]
[agent]
expertMode = true
integrations = ["flask_google_oauth:1.0.0", "python_database:1.0.0", "python_openai_ai_integrations:1.0.0", "python_anthropic_ai_integrations:1.0.0"]

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
ADMIN_EMAILS = ""
ALLOWED_EMAILS = "ardy@myrobin.id,craig@troopers.com.my,debasish.tripathy@gobetter.in,joshua.tan@betterplaceglobal.com,joshua@troopers.com.my,kelvin.lee@betterplaceglobal.com,kelvin@troopers.com.my,kushal.budhia@betterplace.co.in,noel.emmanuel@betterplace.co.in,pallav.bagla@betterplace.co.in,people@betterplace.co.in,prateek.goyal@betterplace.co.in,pravin@betterplace.co.in,pulkita.soni@betterplace.co.in,rajesh.warrier@betterplace.co.in,saurabh.tandon@betterplace.co.in,saurav.chawla@betterplace.co.in,siddharth@myrobin.id,tomonaga.tejima@betterplace.co.in,vijeta.sahani@betterplace.co.in,virag.pant@aasaanjobs.com,vishal.chitravanshi@betterplace.co.in,yokesh.pranav@betterplace.co.in,anuj.saxena@betterplace.co.in"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80
